body {
    background-image:linear-gradient(
       180deg,
       #3358FF 5%,
       #3342FF 20%,
       #33D4FF 60%,
       #CA33FF 95%
    );
    margin: 0;
    min-height: 100vh;
    width: 100%;
}

main{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative
    }
    

main > section button {
    background-color: rgb(133, 150, 150);
    border:black;
    border-radius: 4px;
    color: black;
    font-family: EuclidBold;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 20px;
    padding: 9px 23px;
    text-transform: uppercase;
}

#detalhes-container > li {
    align-items: baseline;
    display: flex;
    
}



